src/InvestmentPredictor/DataLayer/investmentPredictor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/investmentPredictor/" targetNamespace="http://www.example.org/investmentPredictor/">
	
    <complexType name="Security">
    	<sequence>
    		<element name="Name" type="string"></element>
    		<element name="Ticker" type="string"></element>
    		<element name="Type" type="string"></element>
    	</sequence>
    </complexType>
    <complextType name="CurrentEvent">
    	<sequence>
    		<element name="Source" type="string"></element>
    		<sequence>
    			<element name="KeyWord" type="string"></element>
    		</sequence>
    	</sequence>
    </complextType>

</schema>